assets/Telco-Usecase-1-Quality-Of-Service-On-Ingest-Version-Instructor-version-2.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"712be814-4d83-4a7c-86b3-8233e7a9a34d","version":0,"timestamp":1762266442863,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","instanceIdentifier":null,"name":"Telco Usecase 1 Quality Of Service On Ingest Version Instructor","comments":null,"position":null,"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e3b16e6f-5c3c-4283-a4a6-21609740ae28","instanceIdentifier":null,"name":"RouteOnServiceQuality","comments":"","position":{"x":64.42649456444508,"y":670.3568401841242},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"QOS_POOR":"${signal_strength_dbm:isEmpty():not()\n  :and(${signal_strength_dbm:toNumber():lt(-75)})}","Routing Strategy":"Route to Property name","QOS_EXCELLENT":"${ \n  ${wifi_band:equalsIgnoreCase('5 GHz')\n     :and(${signal_strength_dbm:isEmpty():not()\n           :and(${signal_strength_dbm:toNumber():ge(-65)})})}\n  :or(\n    ${wifi_band:equalsIgnoreCase('2.4 GHz')\n       :and(${signal_strength_dbm:isEmpty():not()\n             :and(${signal_strength_dbm:toNumber():ge(-55)})})}\n  )\n}","QOS_FAIR":"${\n  ${wifi_band:equalsIgnoreCase('5 GHz')\n     :and(${signal_strength_dbm:isEmpty():not()\n           :and(${signal_strength_dbm:toNumber():ge(-75)})\n           :and(${signal_strength_dbm:toNumber():lt(-65)})})}\n  :or(\n    ${wifi_band:equalsIgnoreCase('2.4 GHz')\n       :and(${signal_strength_dbm:isEmpty():not()\n             :and(${signal_strength_dbm:toNumber():ge(-70)})\n             :and(${signal_strength_dbm:toNumber():lt(-55)})})}\n  )\n}"},"propertyDescriptors":{"QOS_POOR":{"name":"QOS_POOR","displayName":"QOS_POOR","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"QOS_EXCELLENT":{"name":"QOS_EXCELLENT","displayName":"QOS_EXCELLENT","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"QOS_FAIR":{"name":"QOS_FAIR","displayName":"QOS_FAIR","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"b40e7a1b-8a21-4678-9505-3ba16df22a42","instanceIdentifier":null,"name":"QOS_FAIR - PublishKafka2RecordCDP","comments":"","position":{"x":61.53976048352558,"y":1107.2844452660265},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"compression.type":"none","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","record-writer":"09201be4-9244-413f-aa12-11ca221be394","acks":"1","bootstrap.servers":"#{Kafka Broker Endpoint}","Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"c495edbc-dbbc-4baa-b956-0f3e267082b2","max.request.size":"1 MB","sasl.mechanism":"PLAIN","sasl.token.auth":"false","max.block.ms":"5 sec","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","topic":"JT_QOS_FAIR_KAFKA","record-reader":"2bcb0ca6-5b88-4144-92e7-1d4d5d70fa22","message-header-encoding":"UTF-8","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"13defffa-c8aa-4806-a440-88d68a840864","instanceIdentifier":null,"name":"SplitJson","comments":"","position":{"x":65.36562550838528,"y":89.90972408280015},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"max-string-length":{"name":"max-string-length","displayName":"Max String Length Override","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"2ad56229-6d63-46ee-b01d-756bac073e81","instanceIdentifier":null,"name":"ExtractKeyAttributes","comments":"","position":{"x":67.68723064621736,"y":367.5396518042437},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"Destination":"flowfile-attribute","wifi_band":"$.wifi_band","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","signal_strength_dbm":"$.signal_strength_dbm"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-string-length":{"name":"max-string-length","displayName":"Max String Length Override","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"wifi_band":{"name":"wifi_band","displayName":"wifi_band","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"signal_strength_dbm":{"name":"signal_strength_dbm","displayName":"signal_strength_dbm","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"fd2f935e-4b66-497d-83cc-5dbe8a4bc0b3","instanceIdentifier":null,"name":"PutIceberg","comments":"","position":{"x":637.4198654575769,"y":1438.0176713222659},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","unmatched-column-behavior":"FAIL_UNMATCHED_COLUMN","catalog-service":"2b90848d-dfda-415b-b493-2da77bace933","record-reader":"2bcb0ca6-5b88-4144-92e7-1d4d5d70fa22","table-name":"JT_QOS_POOR_ICEBERG","kerberos-user-service":"693fa3df-9488-4645-9081-397e777596b4","minimum-commit-wait-time":"100 ms","catalog-namespace":"default"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"unmatched-column-behavior":{"name":"unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"94b41340-9cf2-409f-90b5-e8e8712ea8d4","instanceIdentifier":null,"name":"QOS_POOR - PublishKafka2RecordCDP","comments":"","position":{"x":636.4045370948537,"y":1107.369528273839},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"compression.type":"none","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","record-writer":"09201be4-9244-413f-aa12-11ca221be394","acks":"1","bootstrap.servers":"#{Kafka Broker Endpoint}","Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"c495edbc-dbbc-4baa-b956-0f3e267082b2","max.request.size":"1 MB","sasl.mechanism":"PLAIN","sasl.token.auth":"false","max.block.ms":"5 sec","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","topic":"JT_QOS_POOR_KAFKA","record-reader":"2bcb0ca6-5b88-4144-92e7-1d4d5d70fa22","message-header-encoding":"UTF-8","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"bb317280-a3b8-4892-8d54-f16d9e9f7469","instanceIdentifier":null,"name":"ExecuteScript","comments":"","position":{"x":59.807037353515625,"y":-221.66199684143066},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"Script Engine":"python","Script Body":"##\n## Author: Joe Turkington\n## Description: Generates a random JSON array of simulated home network device metrics.\n##              Includes elapsed time and device connection details.\n##\nimport json\nimport random\nfrom datetime import datetime, timedelta\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import OutputStreamCallback\n\n# --- Configuration ---\nNUM_BSSIDS = 100            # Total number of unique home networks (routers) to simulate\nNUM_MAC_ADDRESSES = 1000    # Total number of unique devices (MACs) to simulate\nRECORDS_PER_FLOWFILE = 200  # Total number of records to generate in this FlowFile\n\n# --- OUI Prefixes for Identification ---\n# Covering Phones, Computers, Smart Home, and Game Consoles\n\n# 1. Apple Devices (iPhone, iPad, Mac) - Focus for later filtering\nAPPLE_OUIS = [\n    \"00:03:93\", \"00:0A:27\", \"00:16:CB\", \"00:1B:63\", \"00:1E:52\", \"00:21:E9\", \n    \"00:23:DF\", \"00:25:00\", \"00:26:08\", \"00:30:65\", \"00:50:E4\", \"00:90:F5\", \n    \"10:93:E9\", \"38:F9:D3\", \"40:A6:B7\", \"64:BC:0C\", \"74:E7:5C\", \"88:1F:A1\",\n    \"A8:20:66\", \"AC:E4:B6\", \"F0:DC:C4\", \"FC:E9:98\", \"AC:FD:EC\"\n]\n\n# 2. Other Major Manufacturers (including Game Consoles)\nOTHER_OUIS = [\n    # Sony (PlayStation)\n    \"00:04:1F\", \"00:13:15\", \"00:19:C5\", \"28:0D:FC\", \"5C:84:3C\", \"9C:37:CB\",\n    \"B4:0A:D8\", \"D4:F7:D5\", \n    # Microsoft (Xbox/Surface)\n    \"00:03:FF\", \"00:12:5A\", \"00:1D:D8\", \"28:18:78\", \"40:8E:2C\", \"5C:BA:37\",\n    \"70:BC:10\", \"74:E2:8C\", \"84:57:33\", \"98:5F:D3\",\n    # Nintendo (Switch/Wii)\n    \"00:09:BF\", \"00:16:56\", \"00:1A:E9\", \"2C:10:C1\", \"40:D2:8A\", \"7C:BB:8A\",\n    # Samsung/Google/IoT/Networking\n    \"00:00:F0\", \"00:1A:11\", \"18:B4:30\", \"3C:5A:B4\", \"54:60:09\", \"A4:C1:38\",\n    \"80:48:9A\", \"D8:90:E8\", \"00:00:0C\", \"5C:A3:9D\", \"84:7B:EB\", \"E8:9E:B8\"\n]\n\n# Possible connection statuses and bands\nCONNECTION_STATUSES = [\"Connected\", \"Disconnected\", \"Unknown\"]\nWIFI_BANDS = [\"2.4 GHz\", \"5 GHz\"]\n\n# --- Pre-Generation of Identifiers ---\n\ndef generate_mac_address(oui=None):\n    \"\"\"Generates a full MAC address, optionally starting with a specified OUI.\"\"\"\n    if oui is None:\n        # Generate a random OUI for the BSSID\n        oui_octets = [\"{:02X}\".format(random.randint(0, 255)) for _ in range(3)]\n        oui = \":\".join(oui_octets)\n    \n    # Generate the last three octets (unique to the device)\n    suffix_octets = [\"{:02X}\".format(random.randint(0, 255)) for _ in range(3)]\n    full_mac = oui + \":\" + \":\".join(suffix_octets)\n    return oui, full_mac\n\n# 1. Generate BSSIDs (Router MACs)\nBSSIDS = [generate_mac_address()[1] for _ in range(NUM_BSSIDS)]\n\n# 2. Generate Device MACs with OUI separation\nALL_OUIS = APPLE_OUIS + OTHER_OUIS\nDEVICE_MACS = []\nfor i in range(NUM_MAC_ADDRESSES):\n    oui = random.choice(ALL_OUIS)\n    _, full_mac = generate_mac_address(oui)\n    DEVICE_MACS.append((oui, full_mac))\n\n# Helper function for ISO 8601 timestamp format\ndef format_timestamp(dt):\n    # Truncate microseconds and append Z for UTC\n    return dt.strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z'\n\n# --- Processor Logic ---\n\nclass PyOutputStreamCallback(OutputStreamCallback):\n    def __init__(self):\n        self.records = []\n\n    def generate_record(self):\n        # 1. Select Network and Device\n        bssid = random.choice(BSSIDS)\n        oui, full_mac = random.choice(DEVICE_MACS)\n        \n        # 2. Derive Timestamps\n        timestamp_dt = datetime.utcnow()\n        timestamp = format_timestamp(timestamp_dt)\n        \n        # First Connected (randomly backdate 1 to 30 days)\n        days_ago = random.randint(1, 30)\n        first_connected_dt = timestamp_dt - timedelta(days=days_ago, seconds=random.randint(1, 86400))\n        first_connected = format_timestamp(first_connected_dt)\n        \n        # Calculate time since first connection in seconds\n        time_diff_total = timestamp_dt - first_connected_dt\n        time_connected_seconds = int(time_diff_total.total_seconds())\n\n        # 3. Derive Core Connection Metrics\n        device_ip = \"192.168.1.{}\".format(\"{:03d}\".format(random.choice(range(2, 255))))\n        conn_status = random.choice(CONNECTION_STATUSES)\n        \n        # 4. New Metrics: Wi-Fi Band\n        wifi_band = random.choice(WIFI_BANDS)\n        \n        # 5. Generate Status-Dependent Metrics\n        signal_strength = random.randint(-85, -45) if conn_status == \"Connected\" else None\n        data_usage = round(random.uniform(5.0, 500.0), 2) if conn_status == \"Connected\" else 0.0\n        \n        # Current Session Duration: only relevant if currently 'Connected'\n        current_session_duration_seconds = 0\n        if conn_status == \"Connected\":\n            # Simulate a session duration between 5 minutes (300s) and 5 hours (18000s)\n            current_session_duration_seconds = random.randint(300, 18000)\n\n        # 6. Construct JSON object\n        record = {\n            \"timestamp\": timestamp,\n            \"bssid\": bssid,                      \n            \"device_mac\": full_mac,              \n            \"mac_oui\": oui,                      \n            \"device_ip\": device_ip,\n            \"connection_status\": conn_status,\n            \"wifi_band\": wifi_band, # Only the bandwidth is kept\n            \"first_connected\": first_connected,\n            \"time_since_first_connected_seconds\": time_connected_seconds,\n            \"current_session_duration_seconds\": current_session_duration_seconds,\n            \"signal_strength_dbm\": signal_strength,\n            \"data_usage_mb\": data_usage\n        }\n        \n        return record\n\n    def process(self, outputStream):\n        for i in range(RECORDS_PER_FLOWFILE):\n            self.records.append(self.generate_record())\n\n        json_output = json.dumps(self.records, indent=2)\n        outputStream.write(bytearray(json_output.encode('utf-8')))\n\n# --- NiFi Execution ---\nflowFile = session.create()\nif (flowFile != None):\n    flowFile = session.write(flowFile, PyOutputStreamCallback())\n    flowFile = session.putAttribute(flowFile, \"mime.type\", \"application/json\")\n    session.transfer(flowFile, REL_SUCCESS)"},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"5448e25c-96b9-495f-a426-6061250db293","instanceIdentifier":null,"name":"QOS_EXCELLENT - PublishKafka2RecordCDP","comments":"","position":{"x":-501.224386321284,"y":1107.199362258214},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"compression.type":"none","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","record-writer":"09201be4-9244-413f-aa12-11ca221be394","acks":"1","bootstrap.servers":"#{Kafka Broker Endpoint}","Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"c495edbc-dbbc-4baa-b956-0f3e267082b2","max.request.size":"1 MB","sasl.mechanism":"PLAIN","sasl.token.auth":"false","max.block.ms":"5 sec","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","topic":"JT_QOS_EXCELLENT_KAFKA","record-reader":"2bcb0ca6-5b88-4144-92e7-1d4d5d70fa22","message-header-encoding":"UTF-8","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"770a5456-2a00-4029-82ee-3347080480ae","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"2ad56229-6d63-46ee-b01d-756bac073e81","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"ExtractKeyAttributes","comments":null,"instanceIdentifier":null},"destination":{"id":"e3b16e6f-5c3c-4283-a4a6-21609740ae28","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"RouteOnServiceQuality","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"a356a0c5-5d24-4275-add6-aa158becc132","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"94b41340-9cf2-409f-90b5-e8e8712ea8d4","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"QOS_POOR - PublishKafka2RecordCDP","comments":null,"instanceIdentifier":null},"destination":{"id":"fd2f935e-4b66-497d-83cc-5dbe8a4bc0b3","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"PutIceberg","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"d97be2ff-5d54-4ef6-96f9-60a8ae968e2f","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"bb317280-a3b8-4892-8d54-f16d9e9f7469","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"ExecuteScript","comments":null,"instanceIdentifier":null},"destination":{"id":"13defffa-c8aa-4806-a440-88d68a840864","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"SplitJson","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"41408f58-e156-4440-81a4-4c966f2ee90d","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"13defffa-c8aa-4806-a440-88d68a840864","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"SplitJson","comments":null,"instanceIdentifier":null},"destination":{"id":"2ad56229-6d63-46ee-b01d-756bac073e81","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"ExtractKeyAttributes","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"54bf304b-b6dc-4305-b81e-6bc197c2d49b","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"e3b16e6f-5c3c-4283-a4a6-21609740ae28","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"RouteOnServiceQuality","comments":null,"instanceIdentifier":null},"destination":{"id":"5448e25c-96b9-495f-a426-6061250db293","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"QOS_EXCELLENT - PublishKafka2RecordCDP","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["QOS_EXCELLENT"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"31e0a0ed-f7a1-46ea-bffd-b47c729ee84c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"e3b16e6f-5c3c-4283-a4a6-21609740ae28","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"RouteOnServiceQuality","comments":null,"instanceIdentifier":null},"destination":{"id":"94b41340-9cf2-409f-90b5-e8e8712ea8d4","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"QOS_POOR - PublishKafka2RecordCDP","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["QOS_POOR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"24062276-45dd-435f-9ebd-e753c3b599d0","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"e3b16e6f-5c3c-4283-a4a6-21609740ae28","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"RouteOnServiceQuality","comments":null,"instanceIdentifier":null},"destination":{"id":"b40e7a1b-8a21-4678-9505-3ba16df22a42","type":"PROCESSOR","groupId":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9","name":"QOS_FAIR - PublishKafka2RecordCDP","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["QOS_FAIR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"2bcb0ca6-5b88-4144-92e7-1d4d5d70fa22","instanceIdentifier":null,"name":"JsonTreeReader","comments":null,"position":null,"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1.2.3.16.0-10"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"09201be4-9244-413f-aa12-11ca221be394","instanceIdentifier":null,"name":"JsonRecordSetWriter","comments":null,"position":null,"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1.2.3.16.0-10"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"2b90848d-dfda-415b-b493-2da77bace933","instanceIdentifier":null,"name":"HiveCatalogService","comments":null,"position":null,"type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"hadoop-config-resources":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/hive-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml"},"propertyDescriptors":{"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.28.1.2.3.16.0-10"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"},{"identifier":"693fa3df-9488-4645-9081-397e777596b4","instanceIdentifier":null,"name":"KerberosPasswordUserService","comments":null,"position":null,"type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.28.1.2.3.16.0-10"},"properties":{"Kerberos Principal":"#{CDP Workload User}","Kerberos Password":"#{CDP Workload User Password}"},"propertyDescriptors":{"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1.2.3.16.0-10"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ddeb333-559d-4a83-a1f0-b38cdce9cda9"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"Telco Marketing v2","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":null,"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":null},"externalControllerServices":{"c495edbc-dbbc-4baa-b956-0f3e267082b2":{"identifier":"c495edbc-dbbc-4baa-b956-0f3e267082b2","name":"Default NiFi SSL Context Service"}},"parameterProviders":null,"parameterContexts":{"Telco Marketing v2":{"identifier":"61472857-0bd3-413b-8368-13e35281e474","instanceIdentifier":null,"name":"Telco Marketing v2","comments":null,"position":null,"parameters":[{"name":"CDP Workload User Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"CDP Workload User","description":null,"sensitive":false,"provided":false,"value":"jturkington"},{"name":"Kafka Broker Endpoint","description":null,"sensitive":false,"provided":false,"value":"cdfv1-smm-dh-corebroker1.jt-demo.u5hb-n231.a2.cloudera.site:9093, cdfv1-smm-dh-corebroker0.jt-demo.u5hb-n231.a2.cloudera.site:9093, cdfv1-smm-dh-corebroker2.jt-demo.u5hb-n231.a2.cloudera.site:9093"}],"inheritedParameterContexts":[],"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}